html
    head
        block title
            title Todo List!
        link(rel="stylesheet", href="/styles/bootstrap.min.css")        
        link(rel="stylesheet", href="/styles/todolist.css")

        block moreStyle
    body        
        .container
            .row
                .col-md-6
                    .todolist.not-done
                        h1 Todos
                        input.form-control.add-todo(type="text", placeholder="Add Todo")    
                        <h6>Type your to do topics and hit Enter to save!                    
                        hr
                        ul#sortable.list-unstyled
                        .todo-footer
                            strong
                                span.count-todos
                .col-md-6
                    .todolist
                        h1 Already Done
                        ul#done-items.list-unstyled

        script(type="text/javascript", src="/script/jquery.min.js")
        script(type="text/javascript", src="/script/jquery-ui.min.js")
        script(type="text/javascript", src="/script/bootstrap.min.js")        
        script(type="text/javascript", src="/script/todo.js")        
